# Backend Port
PORT=5000

# MongoDB
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@codebase.pkhqz5g.mongodb.net/?appName=CodeBase
# Google OAuth
GOOGLE_CLIENT_ID=y518930613936-ujp4s79nm0gflnq5u1989nvjqko5d239.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:5000/auth/google/callback

# JWT
JWT_SECRET=your_jwt_secret_key_here_very_secure_string

# Google Gemini API
GEMINI_API_KEY=AIzaSyCFZLMhenpD8TkOOV7rk2h7ilGWt-aKkQQ

# GitHub Token (optional, for higher rate limits)
GITHUB_TOKEN=your_github_token_optional

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000

# Session Secret
SESSION_SECRET=your_session_secret_here
